{% extends 'UkolnicekApp/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1><a href='/'>Hlavní strana</a></h1>
    <h2>Moje projekty</h2>
    <table>
        <th>Název</th>
        <th>Edit</th>
    {% for project in projects %}
    <tr>
    <td><a href = '{% url 'project' project.projekt_id %}'>{{project.projekt_id}} {{project.typ_projektu.nazev}}</a></td>
    <td> <a class="btn btn-primary" href='{% url 'editProject' project.projekt_id %}' role="button">Edit</a></td>
    </tr>
    {% endfor %}
    </table>
    {% if loggedIn %}
     <a class="btn btn-primary" href='{% url 'addProject' %}' role="button">Přidat projekt</a>
     {% endif %}
{% endblock %}